#update,#export_files{
      padding: 10px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    background: green;
    font-size: 15px;    
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 100;
    }
    svg{
      position:  absolute;
      cursor: crosshair;
      background-color: white;
    }
    
    .radial_lines{

    }



    .legend{
      position: absolute;
      margin-top: 0px;
      margin-left: 10px;
      width:  300;
      height:  300;
      cursor: pointer;
    }
    #tooltip {
                        position: absolute;
                        width: 160px; <! -- auto; -->
                        height: 140px;
                        padding: 10px;
                        background-color: white;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                        pointer-events: none;
                        opacity: .9;
                        z-index: 10;
                        }
    .hidden {
    display: none;
    }
    #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  button {
    cursor:  pointer;
  }