<!DOCTYPE html>
<html lang="en">
<head>
  <title>XRV Visualization</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://unpkg.com/mathjs/lib/browser/math.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://unpkg.com/canvg@3.0.9/lib/umd.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='xrv.css') }}">


  

</head>
<body>
  <div id = "input_area">
  <form method="post">

      <label for="gantry">Select Gantry:</label>
        <select name="gantry">
          <option value=1>GTR1</option>
          <option value=2>GTR2</option>
          <option value=3>GTR3</option>
        </select>
      &emsp;
      &emsp;
      <label for="direction">Select angle direction of acquisition:</label>
        <select name="direction">
          <option value="CW">Clockwise (225->180)</option>
          <option value="CCW">Counter-Clockwise (180->225)</option>
          <option value="CW_36Angles">Clockwise (190->180) [every 10 degrees]</option>
          <option value="CCW_36Angles">Counter-Clockwise (175->185) [every 10 degrees]</option>
        </select>
      <br>
      <label for = "myFile">Upload XRV data</label>
      <input type="text" id="myFile" name="myFile" size="80" placeholder="Type XRV File location (only the containing folder)">
      <button type="submit">Submit</button>
  </form>
  
  <p>
    Date: <input type="text" id="datepicker">&emsp;&emsp;Available Files for date selected <select id="fileList" overflow='scroll'></select>&emsp;&emsp;
    <span id='update'>Update</span>
    <span id='export_files' style="background:gray">Export files</span>
  </p>
</div>

<img src="static/logos_coordinates_3.png">


<div id="tooltip" class="hidden">
<p><strong><span id="tooltipTitle">Important Label Heading</span></strong></p>
<p><strong><span id="tooltipTitle2">Important Label Heading</span></strong></p>
<br>
<p><span id="value">100</span> mm</p>
  <div id="moreText">
    <p>dX: <span id="dx">55.3</span> mm</p>
    <p>dY: <span id="dy">55.3</span> mm</p>
    <p>dZ: <span id="dz">55.3</span> mm</p>
  </div>
</div>

  <script type="text/javascript" src="{{ url_for('static', filename='xrv.js') }} ">
  </script>
  <br>
  <br>
  <br>
</body>
</html>